<div class="container">
  <button class="btn btn-success col-12" (click)="newList()">Nueva Lista</button>
</div>
<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre de la lista</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="nombre" required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
      </div>
      <!-- <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="producto" required> -->
      <select class="form-control" ngModel name="producto">
        <option value="" selected>---Selecciona una opcion---</option>
        <option *ngFor="let p of productos" name="producto" required>{{p.nombre}}</option>
      </select>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Cantidad</span>
      </div>
      <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="cantidad" required>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Añadir</button>
    <button class="btn btn-primary" type="reset">Limpiar</button>
  </form>
</div>
<hr>
<div class="container">
  <h5>Lista de la compra <span *ngIf="nombre !== ''">: {{nombre}}</span></h5>
 
  <div class="row" *ngFor=" let prod of listaProd">
    <div class="col-8">{{prod.producto}}</div>
    <div class="col-4">{{prod.cantidad}}</div>
  </div>
  <button class="btn btn-primary" (click)="guardarListaCompra()">Guardar lista</button>
</div>