<div class="container">
  <div class="row" style="margin-left: 10px; margin-right: 10px">
    <button class="btn btn-success col-9" style="margin-right:5px;" (click)="newProduct()">Añadir producto</button>
    <button class="btn btn-default col-2 plegar" *ngIf="btnadd ? '': 'hidden'" (click)="dropup()"><i class="glyphicon glyphicon-triangle-top"></i></button>
  </div>
</div>
<div class="container" *ngIf="ocultar? 'hidden' : ''">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="producto" required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="precio" required>
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Categoria</span>
      </div>
      <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="categoria">
    </div>
    <div class="input-group mb-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Envase</span>
      </div>
      <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ngModel name="envase">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Añadir</button>
    <button class="btn btn-primary" type="reset">Limpiar</button>
  </form>
</div>
<hr>
<div class="container">
  
</div>
